<div class=" bg-zinc-200 bg-egyptian-temple bg-cover w-screen h-screen flex flex-col justify-center items-center">

    <div class="w-80 h-64 mb-8 pr-8 pl-8 flex justify-center items-center bg-papyrus bg-contain bg-no-repeat bg-center madimi-one-regular rounded-xl " [@fadeIn]
        (@fadeIn.done)="onAnimationEnd($event)">
        J'avais tort, mon cher fruit, le cassis est détrôné, <br>L'avocat règne en maître, un délice couronné. <br>La salade caesar est bien plus bas, sur l'échelle du bonheur, <br>Un écart ridicule qui ne met pas de bonne humeur <br>Maitre Emdond Zvkscsb
    </div>

    <div
        class=" w-11/12 mb-8 p-3 flex justify-center items-center bg-white h-28 madimi-one-regular rounded-xl" [@fadeIn]
        (@fadeIn.done)="onAnimationEnd($event)">
        {{textQuestion}}
      </div>




  </div>
