<div class="h-screen w-screen bg-orange-500 flex flex-col justify-center items-center">
    <h1 class="text-9xl madimi-one-regular">404</h1>
<div class="flex">
    <div class="eye w-60 h-60 bg-white flex items-center justify-center relative mr-3">
        <div class="z-10 pupil w-full h-32 absolute bg-red-200 top-0"> </div>
        <div class="iris w-1/2 h-1/2 bg-black rounded-full" ></div>
        <div class="z-10 pupil w-full h-32 absolute bg-red-200 bottom-0"> </div>
        <div> </div>
    </div>
    <div class="eye w-60 h-60 bg-white flex items-center justify-center relative ml-3">
        <div class="z-10 pupil w-full h-32 absolute bg-red-200 top-0"> </div>
        <div class="iris w-1/2 h-1/2 bg-black rounded-full" ></div>
        <div class="z-10 pupil w-full h-32 absolute bg-red-200 bottom-0"> </div>
        <div> </div>
    </div>
</div>
<h1 class="text-3xl madimi-one-regular mt-4">L'histoire que vous recherchez n'est pas encore écrite...</h1>
   
</div>
